[submodule "sites/all/modules/contrib/paragraphs"]
	path = sites/all/modules/contrib/paragraphs
	url = https://git.drupal.org/project/paragraphs.git
[submodule "sites/all/modules/contrib/entity"]
	path = sites/all/modules/contrib/entity
	url = https://git.drupal.org/project/entity.git
[submodule "sites/all/modules/contrib/backup_migrate"]
	path = sites/all/modules/contrib/backup_migrate
	url = https://git.drupal.org/project/backup_migrate.git
	branch = 7.x-3.x
[submodule "sites/all/modules/contrib/inline_entity_form"]
	path = sites/all/modules/contrib/inline_entity_form
	url = https://git.drupal.org/project/inline_entity_form.git
	branch = 7.x-1.x
[submodule "sites/all/modules/contrib/entityreference"]
	path = sites/all/modules/contrib/entityreference
	url = https://git.drupal.org/project/entityreference.git
	branch = 7.x-1.x
