header {
	section#main-nav {
		background: $primary-color;
		padding: $vr;
		div.logo {
			span {
				color: white;
				&:first-child {
					@include typeset(h1);
				}
				&:last-child {
					@include typeset(h4);
				}
			}
		}
		nav {
			ul {
				padding: 0;
				margin: 0;
				list-style-type: none;
			}
			> ul {
				> li {
					display: inline-block;
					position: relative;
					> a {
						color: white;
						display: block;
						font-size: 18px;
						line-height: 18px;
						padding: 7px 14px;
						&:hover {
							color: $secondary-color;
						}
					}
					&:hover {
						&:after {
							content: '';
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-bottom: 5px solid $secondary-dark;
							position: absolute;	
							bottom: 0;
							left: 50%;
						}
					}
				}
			}
		}
	}
}

div.sub-nav {
	background: $secondary-dark;
	padding: $vr;
	ul {
		padding: 0;
		margin: 0;
		text-align: center;
		display: table;
		margin: 0 auto;
		li {
			display: inline-block;
			background: url('http://nysesdopportunitiesdev.prod.acquia-sites.com/sites/default/files/new-york-park.jpeg');
			background-size: cover;
			margin: 7px;
			div {
				background: rgba(0, 118, 129, .7);
				a {
					color: white;
					font-family: $proximaBold;
					display: block;
					vertical-align: middle;
					font-size: 18px;
					line-height: 24px;
					padding: 28px 21px;
					height: 56px;
					box-sizing: content-box;
					&:hover {
						color: $secondary-color;
					}
					span {
						display: table-cell;
						text-align: center;
						vertical-align: middle;
						width: 198px;
						height: 56px;
					}
				}
			}
		}
	}
}
