body,
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: arial;
}


@import
	'typography/fonts.scss',
	'typography/typesets.scss',
	'foundation/foundation',
	'regions/hero.scss',
	'regions/main-nav.scss',
	'regions/navigation.scss'
	;