$vr: 14px;

$h1: 32px;
$h2: 24px;
$h3: 20px;
$h4: 18px;
$p: 18px;
$small: 13px;

.classheader {
	@include typeset(h2);
}

$proximaLight: 'Proxima Nova Light', Helvetica, Arial, sans-serif;
$proxima: 'Proxima Nova Regular', Helvetica, Arial, sans-serif;
$proximaSemiBold: 'Proxima Nova SemiBold', Helvetica, Arial, sans-serif;
$proximaBold: 'Proxima Nova Bold', Helvetica, Arial, sans-serif;

$typesets: (
	h1: (
		font-size: $h1,
		line-height: $h1 + 6,
		margin-top: 0,
		margin-bottom: $vr,
		margin-left: 0,
		margin-right: 0,
		font-family: $proximaBold
	),
	h1__lite: (
		font-size: $h1,
		line-height: $h1 + 6,
		font-weight: 100,
		margin-top: 0,
		margin-bottom: 2 * $vr,
		margin-left: 0,
		margin-right: 0,
		font-family: $proxima
	),
	h2: (
		font-size: $h2,
		line-height: $h2 + 6,
		margin-top: 0,
		margin-bottom: $vr,
		margin-left: 0,
		margin-right: 0,
		font-family: $proximaSemiBold
	),
	h2__lite: (
		font-size: $h2,
		line-height: $h2 + 6,
		font-weight: 100,
		margin-top: 0,
		margin-bottom: $vr,
		margin-left: 0,
		margin-right: 0,
		font-family: $proxima
	),
	h3: (
		font-size: $h3,
		line-height: $h3 + 6,
		margin-top: 0,
		margin-bottom: $vr,
		margin-left: 0,
		margin-right: 0,
		font-family: $proximaSemiBold
	),
	h4: (
		font-size: $h4,
		line-height: $h4 + 6,
		margin-top: 0,
		margin-bottom: $vr,
		margin-left: 0,
		margin-right: 0,
		font-family: $proximaSemiBold
	),
	p: (
		font-size: $p,
		line-height: 28px,
		margin-top: 0,
		margin-bottom: $vr,
		margin-left: 0,
		margin-right: 0,
		font-family: $proxima
	),
	small: (
		font-size: $small,
		line-height: 21px,
		margin-top: 0,
		margin-bottom: $vr,
		margin-left: 0,
		margin-right: 0,
		font-family: $proxima
	)	
);

@mixin typeset($type) {
	$type: map-get($typesets, $type);
	font-size: map-get($type,font-size);
	line-height: map-get($type, line-height);
	margin-top: map-get($type, margin-top);
	margin-bottom: map-get($type, margin-bottom);
	margin-left: map-get($type, margin-left);
	margin-right: map-get($type, margin-right);
	font-family: map-get($type, font-family);
	@if map-has-key($type, font-weight) {
		font-weight: map-get($type, font-weight);
	}
}





a {
	transition: all ease .4s;
	cursor: pointer;
	&:hover {
		transition: all ease .4s;
	}
}

.h1 {
	@include typeset(h1);
}

.h2 {
	@include typeset(h2);
}

.h3 {
	@include typeset(h3);
}

.h4 {
	@include typeset(h4);
}

.p {
	@include typeset(p);
}

.small {
	@include typeset(small);
}